a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans', serif;
    margin: 0;
    overflow-x: hidden;
}

body:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('../background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home {
    display: grid;
    padding-bottom: 100px;
    justify-content: center;
    justify-items: center;
}

/*Summary block*/
.summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap;
}

.summary-item-container {
    display: grid;
    justify-items: center;
    padding: 10px;
    background-color: #3f3548;
    border-right: 1px solid rgba(239, 239, 239, 0.15);
}

.summary-item-container span {
    font-size: 13px;
    color: #cecece;
    font-weight: lighter;
}

.summary-item-container:last-child {
    border-radius: 0 10px 10px 0;
    border-right: none;
}

.summary-item-container:first-child {
    border-radius: 10px 0 0 10px;
}

.summary-item-container span {
    padding: 2px 6px 2px 6px;
}

.summary-item-container span span {
    border: none;
    border-right: 1px solid #5a5161;
}

.summary-item-container span span:last-child {
    border: none;
    border-radius: 0;
}

.summary-item-container span.summary-item-title {
    color: #ffffff;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.summary-item-container span.summary-item-title-description {
    font-size: 13px;
    font-weight: 400;
}

.summary-item-container span.summary-item-title-description span {
    font-size: 13px;
    font-weight: 400;
}

@media (max-width: 584px) {
    .summary-item-container span.summary-item-title {
        font-size: 12px;
    }

    .summary-item-container span.summary-item-title-description {
        font-size: 12px;
    }

    .summary-item-container span.summary-item-title-description span {
        font-size: 12px;
    }
}

@media (max-width: 490px) {
    .summary-item-container span {
        padding: 2px;
    }

    .summary-item-container span.summary-item-title {
        font-size: 10px;
    }

    .summary-item-container span.summary-item-title-description {
        font-size: 10px;
    }

    .summary-item-container span.summary-item-title-description span {
        font-size: 10px;
    }
}

@media (max-width: 390px) {
    .summary-item-container span.summary-item-title {
        font-size: 8px;
    }

    .summary-item-container span.summary-item-title-description {
        font-size: 8px;
    }

    .summary-item-container span.summary-item-title-description span {
        font-size: 8px;
    }
}

/*Page selecting*/
.select-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
    width: fit-content;
}


.select-page-item {
    display: grid;
    min-width: 110px;
    justify-items: center;
    padding: 10px;
    font-size: 15px;
    font-weight: lighter;
    color: #ffffff;
    background-color: #3f3548;
    border-right: 1px solid rgba(239, 239, 239, 0.15);
}

.select-page-item.selected-page {
    background-color: rgb(192, 77, 54);
    font-weight: bold;
}

.select-page-item:first-child {
    border-radius: 10px 0 0 10px;
}

.select-page-item:last-child {
    border-radius: 0 10px 10px 0;
    border-right: none;
}

@media (max-width: 584px) {
    .select-page-item {
        font-size: 14px;
    }
}

@media (max-width: 490px) {
    .select-page-item {
        font-size: 12px;
    }
}

/*Eth Price Block*/
.eth-price-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #3f3548;
    color: #fff;
    border-radius: 30px;
    width: 110px;
}


.eth-icon {
    width: 30px;
    height: 30px;
}

.eth-price-text {
    width: fit-content;
    padding: 0 10px 0 0;
    margin-left: 5px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

/*Table List*/
.thead-container {
    position: sticky;
    top: 0;
    height: 20px;
}

table {
    display: block;
    height: 380px;
    padding: 0 9px 0 9px;
    overflow-y: auto;
    border-spacing: 0;
    font-size: 15px;
}


@media (max-width: 700px) {
    table {
        font-size: 12px;
    }
}

@media (max-width: 490px) {
    table {
        padding: 0 4px 0 4px;
        font-size: 9px;
        height: 220px;
    }
}

@media (max-width: 400px) {
    table {
        font-size: 9px;
    }
}

table th {
    border: .06em solid rgba(239, 239, 239, 0.15);
}


table td {
    background-color: rgba(0, 0, 0, 0.25);
    height: 45px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    max-width: 140px;
    border: .06em solid rgba(239, 239, 239, 0.15);
}

table th::after {
    content: '\2193';
    margin-left: 5px;
    visibility: hidden;
}

table th::before {
    content: '\2193';
    margin-left: 5px;
    visibility: hidden;
}

table th.loading-container::before,
table td.loading-container::before {
    content: none;
    visibility: hidden;
}

table th.loading-container::after,
table td.loading-container::after {
    content: none;
    visibility: hidden;
}

table th.loading-container {
    width: 30px;
    height: 20px;
}

table th.arrow-up::after,
table td.arrow-up::after {
    content: '\2191';
    visibility: visible;
    margin-left: 5px;
}

table th.arrow-down::after,
table td.arrow-down::after {
    content: '\2193';
    visibility: visible;
    margin-left: 5px;
}

.loading-svg {
    max-width: 20px;
    max-height: 20px;
}

@media (max-width: 700px) {
    table td {
        height: 39px;
    }

    table th.loading-container {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 490px) {
    table th.loading-container {
        width: 10px;
        height: 10px;
    }
}

table th {
    background-color: #3f3548;
    color: white;
    padding: 5px;
    font-weight: normal;
    white-space: nowrap;
}

@media (max-width: 700px) {
    table th {
        white-space: normal;
    }

    table td {
        padding: 0;
    }
}

@media (max-width: 490px) {
    table th {
        padding: 5px;
    }

    table td {
        height: 30px;
    }
}

table td {
    color: white;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-nft {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

@media (max-width: 700px) {
    .img-nft {
        width: 25px;
        height: 25px;
        margin: 5px;
        border-radius: 7px;
    }
}

@media (max-width: 490px) {
    .img-nft {
        width: 25px;
        height: 25px;
        margin: 5px;
        border-radius: 7px;
    }
}

/*Tips*/
.tips-for-dev {
    display: grid;
    justify-content: center;
    justify-items: center;
    color: #cecece;
    font-size: 11px;
}

.tips-for-dev span.content {
    position: relative;
    cursor: pointer;
}

.tips-for-dev span.content span:first-child {
    color: rgba(206, 206, 206, 0.7);
    cursor: pointer;
}

.tips-for-dev .tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 10px 2px 10px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.46);
    border-radius: 4px;
    display: none;
}


/* InputWallet.css */

.input-wallet-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;
}

.input-wallet-wrapper {
    display: inherit;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;
}

.input-wallet-wrapper.hidden {
    visibility: hidden;
}

.input-wallet-input {
    padding: 10px;
    height: 10px;
    width: 300px;
    border: none;
    background-color: rgba(0, 0, 0, 0.21);
    color: #b2b2b2;
    font-size: 0.8em;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.input-wallet-button {
    width: 70px;
    height: 30px;
    background-color: #3f3548;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.input-wallet-input.invalid {
    border: 1px solid rgba(255, 77, 77, 0.73);
    border-right: none;
}

.input-wallet-input.valid {
    border: 1px solid rgba(76, 175, 80, 0.73);
    border-right: none;
}


.input-settings-button {
    width: 40px;
    height: 30px;
    background-color: #3f3548;
    color: #fff;
    border: none;
    border-radius: 0;
    border-right: 1px solid #5a5161;
    cursor: pointer;
}


.settings-icon {
    padding-top: 2px;
    width: 17px;
    height: 17px;
}

@media (max-width: 584px) {
    .settings-icon {
        width: 16px;
        height: 16px;
    }

    .input-wallet-button {
        font-size: 13px;
    }
}

@media (max-width: 490px) {
    .input-wallet-input {
        width: 230px;
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    .input-wallet-button {
        width: 50px;
        height: 30px;
        font-size: 11px;
    }

    .settings-icon {
        padding-top: 2px;
        width: 16px;
        height: 16px;
    }

    .input-settings-button {
        width: 35px;
        height: 30px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select,
    textarea,
    input:focus {
        font-size: 16px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .input-wallet-input {
        font-size: 16px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .input-wallet-input.valid {
        font-size: 16px;
    }

    .input-wallet-input.invalid {
        font-size: 16px;
    }

    .popup-content input {
        font-size: 16px;
    }
}

/*Setting popup*/
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.popup-overlay.hidden {
    visibility: hidden;
}

.popup {
    background: rgb(45, 45, 71);
    border-radius: 8px;
    position: relative;
}

.popup-content div.popup-content-api {
    padding: 10px;
    justify-items: start;
}

.popup-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 30px;
    position: relative;
    display: grid;
}

.popup-content-api {
    font-size: 12px;
    color: #9b9b9b;
    padding-bottom: 10px;
}

.popup-content-api span span:first-child {
    color: #b9b9b9;
}

.popup-content input {
    margin: 5px;
    padding: 10px;
    height: 10px;
    width: 300px;
    border: none;
    background-color: rgba(0, 0, 0, 0.21);
    color: #b2b2b2;
    border-radius: 5px;
    outline: none;
}

.popup-content input.invalid {
    border: 1px solid rgba(255, 77, 77, 0.73);
}

.popup-content input.valid {
    border: 1px solid rgba(76, 175, 80, 0.73);
}

.popup-content button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 77, 77, 0.73);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: rgba(255, 77, 77, 0.91);
}

.popup-content div {
    display: grid;
    justify-items: center;
    padding-top: 10px;
}

.popup {
    display: grid;
    justify-items: end;
}

.close-btn {
    position: absolute;
    margin-right: 10px;
    justify-items: center;
    font-size: 25px;
    cursor: pointer;
    z-index: 3;
}

.overlay-blocking {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

/*Hover*/
@media only screen and (hover) {
    .popup-content button {
        background-color: rgba(255, 77, 77, 0.73);
    }

    .input-settings-button:hover {
        background-color: rgb(192, 77, 54);
    }

    .listing:hover {
        cursor: pointer;
        background-color: rgba(192, 77, 54, 0.35);
    }

    .input-wallet-button:hover {
        background-color: rgb(192, 77, 54);
    }

    .tips-for-dev span.content:hover .tooltip {
        display: block;
    }

    .select-page-item:hover {
        cursor: pointer;
        background-color: rgba(45, 45, 71, 0.93);
    }

    .select-page-item.selected-page:hover {
        background-color: rgb(192, 77, 54);
        cursor: default;
    }

    .eth-price-container:hover {
        background-color: rgba(45, 45, 71, 0.93);
        cursor: pointer;
    }

    .thead-container:hover {
        cursor: pointer;
    }
}